/* Reset */
*
    padding: 0
    margin: 0
    font-family: roboto, sans-serif
    box-sizing: border-box

/* Variables */

$main-color: #54b689
$main-text-color: #fff
$border-color: #999
$bio-bg-color: #1e2a3a
$bio-border-color: #293544
$about-bg-color: #111821

/* Style */

.highlight
    color: $main-color

#container
    display: flex
    flex-direction: row
    color: $main-text-color

#bio-container
    flex: 1 1 20%
    min-height: 100vh
    background-color: $bio-bg-color
    text-align: center
    padding: 30px 12px
    border-right: 5px solid $bio-border-color

#about-container
    flex: 1 1 80%
    min-height: 100vh
    background-color: $about-bg-color
    padding: 50px

/*Bio Container*/

#bio-container h2
    margin-bottom: 25px

p
    margin-bottom: 20px

#bio-container #welcome-text
    font-weight: bold

#bio-img
    height: 175px
    width: 175px
    border-radius: 50%
    margin-bottom: 25px

#social-container
    display: flex
    justify-content: center
    list-style: none
    border-bottom: 1px solid $border-color
    margin-bottom: 25px
    padding-bottom: 25px

    li
        flex: 1 1 0
        max-width: 60px

        a
            color: $main-color
            font-size: 1.5rem

#email-container
    display: flex
    justify-content: center

#email-container ion-icon, #email-container a
    flex: 1 1 0

#email-container ion-icon
    color: $main-color
    font-size: 1.2rem
    margin-right: 5px
    max-width: 20px

#email-container a
    color: $main-text-color
    text-decoration: none
    max-width: 225px

/* About Container*/

#name
    font-size: 3rem
    margin-bottom: 15px

#title
    font-size: 1.5rem
    margin-bottom: 1.5rem
    font-weight: bold

.description
    max-width: 75%
    margin-bottom: 1rem

#btn-projects
    font-weight: bold
    font-size: 1rem
    color: $main-text-color
    background-color: $main-color
    border: 2px solid $main-color
    border-radius: 5px
    text-decoration: none
    transition: 0.5s
    margin: 25px 0
    padding: 12px 10px
    width: 150px
    text-align: center
    display: flex

#btn-projects ion-icon, #btn-projects span
    flex: 1 1 0

#btn-projects ion-icon
    font-size: 20px
    max-width: 20px

#btn-projects:hover
    background-color: transparent

#skills-section-title
    border-top: 1px solid $border-color
    padding-top: 20px
    margin-bottom: 20px
    font-size: 32px

#skills-container
    display: flex
    flex-wrap: wrap
    margin-top: 25px

.skill-box
    flex: 2 2 50%
    max-width: 50%
    margin-bottom: 35px

.skills-title
    font-size: 24px
    margin-bottom: 25px
    font-weight: bold
    padding-left: 10px
    border-left: 5px solid $main-color

.skill-box i
    font-size: 45px
    margin-right: 10px
    